.rowfooter{
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    color: white;
    background-color: rgb(34,102,102);
    padding: 5px;
}
.rowmid{
    display: flex;
    justify-content: space-around;
    color: rgb(102,178,178);
    font-size:40px;
    font-family: 'Monoton', cursive;
}
.headshot{
    border-radius: 40%;
    border: 10px solid ;
}
.top{
    background-color: rgb(178,216,216);
    color: white;
    border-radius: 25%;
}
body{
    background-color: rgb(119,119,119);
    color: white;
    font-size: 20px;
    font-family:Merienda, cursive;
}
.rowaboutme{
    width:400px;
    height:800px;
    display: flex;
    justify-content: space-between;
}